<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- routers in all url patterns "/" -->
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    Welcome to Homepage

    <form action="/answer" method="POST">
      <p>what color is the sky on clear sunny day?</p>
      <input name="skyColor" autocomplete="off" />
      <button>Submit Answer</button>
    </form>
  </body>
</html>
